#!/bin/bash
set -euxo pipefail

hostnamectl set-hostname ${hostname}

mkdir -p /home/ec2-user/.ssh
echo "${public_key}" >> /home/ec2-user/.ssh/authorized_keys
chmod 700 /home/ec2-user/.ssh
chmod 600 /home/ec2-user/.ssh/authorized_keys
chown -R ec2-user:ec2-user /home/ec2-user/.ssh
